.idea
.DS_Store
.vite-cache/
.vscode/**/*
!.vscode/extensions.json
dist/
node_modules/
/index.js
/index.js.map
/style.css
.eslintrc
.eslintignore
.editorconfig
scripts/
vite.config.mjs
template-svelte-esm.lock
LICENSE-CC0
LICENSE-MIT
LICENSE-UNLICENSE